[tool.poetry]
name = "minushalf"
version = "1.0"
description = "Preprocessing tools for help in dft minus one half calculations"
authors = ["Henrique <hentt30@gmail.com>"]

[tool.poetry.dependencies]
python = "^3.6"

[build-system]
build-backend = "setuptools.build_meta"
requires = ["setuptools", "numpy"]

[tool.tox]
legacy_tox_ini = """
[tox]
envlist =  py{36,37,38}
skipsdist=True

[testenv]
deps=
    pytest>=6.2.1
    numpy>=1.19.4
usedevelop=True
commands=
    pytest
"""
